.NavbarContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    background-color: black;
}

.HomeButton {
    cursor: pointer;
    background-color: transparent;
    color: #f5a25a;
    font-size: 18px;
}

.LoginButton,
.SignupButton,
.BlogButton,
.ContactUsButton {
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 18px;
}





@media screen and (max-width: 969px) {

    .HomeButton,
    .LoginButton,
    .SignupButton,
    .BlogButton,
    .ContactUsButton {
        font-size: 13px;
    }
}